<%= render "/layouts/navbar" %>
<div class="ui grid container white">
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>


  <% @boards.each do |b| %>
  <div class="ui cards">
    <div class="card black thick">
      <div class="content">
        <div class="header">
          <h2><%= link_to b.name, board_path(b) %></div>
  
    <div class="description">
      <button class="ui mini inverted violet icon button">
        <%= link_to "Edit", edit_board_path(b) %>
          <i class="pencil icon"></i>
      </button>
    </div>
  <button class="ui mini inverted violet icon button">
    <%= link_to "Delete", board_path(b), method: :delete %>
    <i class="trash icon"></i>
  </button>
  <br />
  <% b.lists.each do |l| %>
    <li>
    <%= link_to l.name, list_tasks_path(l) %>
    </li>
    <br />
    <% end %>
    </div>
    </div>
  </div>

  </h2>
  
  
<% end %>
</div>


