<%= render "/layouts/navbar" %>
<br />
<button class="ui huge top right floated inverted violet button"><%= link_to 'Alphabetical Order', boards_alphabetize_path, method: :post %></button>
<button class="ui huge top right floated inverted violet button"><%= link_to 'Date Created', boards_date_path, method: :post %></button>
<div class="ui grid container white">
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  <div class="four wide column"></div>
  
  <% @boards.each do |b| %>
  <div class="ui cards">
    <div class="card black thick">
      <div class="content">
        <div class="header">
          <h2><%= link_to b.name, board_path(b) %>
        </div>
        <div class="description">
          
        </div>
        <br />
          <% b.lists.each do |l| %>
            <li>
              <%= link_to l.name, list_tasks_path(l) %>
            </li>
            <br />
          <% end %>
          <button class="ui mini inverted pink icon button">
            <%= link_to "Add", new_board_list_path(b) %>
            <i class="pencil icon"></i>
          </button>
        
          <button class="ui mini inverted pink icon button">
            <%= link_to "Edit", board_lists_path(b) %>
            <i class="trash icon"></i>
          </button>
      </div>
    </div>
  </div>

  </h2>
  
  
    <% end %>
</div>


